*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-500:#fff;
    --light-400:#ece5e5ec;
    --gray-500: #9c9595;
    --dark-100:#151414;
    --dark-red:#e62121;
    --dark-blue:rgb(8, 8, 114);
    --dark-yellow: rgb(224, 195, 62);
    --dark-orange:#e78814dd;

}
::selection{
    background-color: rgb(207, 159, 96);
}
body{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
   
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}